/*楼盘基本信息*/
.info{
    width:650px;
    margin:0 auto;
}
.info tr{
    border-bottom:1px solid #74a4ba;
    height:25px;
    line-height:24px;
    font-size:12px;
}
.info td{
    padding:0 8px;
    border-right:1px solid #74a4ba;
}
.info td:first-of-type{
    width:78px;
    text-align:right;
}
.info td:nth-of-type(2){
    width:215px;
}
.info td:nth-of-type(3){
    width:150px;
}
.info td:nth-of-type(4){
    width:208px;
}
.bjbox {
    width:650px;
    margin:20px auto;
}
.bj_add {
    width:100%;
    height:24px;
    line-height:24px;
    padding-left:10px;
    background:#d3e3f4;
    font-size:12px;
}
.bjbox th{
    background: #95c7e2;
    border-left:1px solid #fff;
    border-bottom:1px solid #1a7eb0;
    height:28px;
}
.bjbox table {
    width:100%;
    border-bottom:1px solid #bbddff;
}
.bjbox tbody td:first-of-type{
    background:#bbddff;
    border-bottom:1px solid #74a4ba;
}
.bjbox td {
    text-align:center;
    border-bottom:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
}
.editbox {
    text-align:right;
    margin-top:20px;
}
.btn_edit {
    width:66px;
    height:24px;
    border:0;
    background:#0b589e;
    color:#fff;
    outline:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}