table{
    width:100%;
    border:1px solid #ccc;
    border-collapse:collapse;
}
tr{
    height:30px;
    line-height:30px;
}
tr,td{
    border:0;
}
tr {
    border-bottom:1px solid #ccc;
}
th{
    border-left:1px solid #ccc;
    background:#ddd;
}
td{
    text-align:center;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    padding:10px;
}
td.col-sm,th.col-sm {
    width:5%;
}
td.col-md,th.col-md{
    width:8%;
}
td.col-lg,th.col-lg{
    width:12%;
}
th:first-of-type,td:first-of-type{
    border-left:0;
    vertical-align: middle;
}
th:first-of-type input[type="checkbox"],td:first-of-type input[type="checkbox"]{
    margin-top:2px;
    vertical-align: middle;
    width:12px;
    height:12px;
}
/*btn*/
 .btnbox {
     height:32px;
     border-bottom:1px solid #b3b3b3;
     padding-top:4px;
     text-align:right;
 }
.btn{
    width:66px;
    height:24px;
    background:#0b589e;
    color:#fff;
    border:0;
    cursor:pointer;
}
.btn:hover{
    background: #125a9b;
}
.btn_add_more {
    width:102px;
}