body{
    height:100vh;
    /*background:#11479e;*/
    background: -webkit-linear-gradient(#11479e, #a9bfd4, #6c8fbe); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#11479e, #a9bfd4, #6c8fbe); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#11479e, #a9bfd4, #6c8fbe); /* Firefox 3.6 - 15 */
    background: linear-gradient(#11479e, #a9bfd4, #6c8fbe); /* 标准的语法 */
}
.box {
    /*width:220px;*/
    /*height:136px;*/
    width:436px;
    height:236px;
    padding:20px 80px;
    background:#fbfbfb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px rgba(0,0,0,0.2);
    position:absolute;
    left:50%;
    margin-left:-250px;
    top:50%;
    margin-top:-150px;
}
.title {
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:14px;
}
.loginForm {
    background:green;
    font-size:12px;

}
#loginForm .info_key{
    float:left;
    width:45px;
    height:20px;
    line-height:20px;
}
#loginForm input[type="text"],input[type="password"] {
    width:230px;
    height:30px;
    outline:none;
    border:1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-left:10px;
}
.passbox {
    margin-top:10px;
}
.btnbox {
    margin-top:20px;
    padding-left:45px;
}
.btn {
    width:80px;
    height:30px;
    font-size:14px;
    background:#3499da;
    color:#fff;
    border:0;
    cursor: pointer;
    margin-left:10px;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.btn:hover{
    background:#2794db;
}
.btn:first-of-type{
    margin-left:0;
}