<link rel="stylesheet" href="./css/info.css">
<div class="box" ng-controller="info">
    <dir-head></dir-head>
    <dir-menu></dir-menu>
    <div class="box_r" >
        <h3 class="list_title">楼盘基本信息</h3>
        <div class="infobox">
            <table class="info">
                <tr>
                    <td>
                        楼盘编号:
                    </td>
                    <td>
                        {{infos.bianhao}}
                    </td>
                    <td>
                        楼盘名称:
                    </td>
                    <td>
                        {{infos.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        所属地区:
                    </td>
                    <td>
                        {{infos.addr}}
                    </td>
                    <td>
                        物业类型:
                    </td>
                    <td>
                        {{infos.wylx}}
                    </td>
                </tr>
                <tr>
                    <td>
                        开发单位:
                    </td>
                    <td>
                        {{infos.kfdw}}
                    </td>
                    <td>
                        设计单位:
                    </td>
                    <td>
                        {{infos.sjdw}}
                    </td>
                </tr>
                <tr>
                    <td>
                        建设单位:
                    </td>
                    <td>
                        {{infos.jsdw}}
                    </td>
                    <td>
                        占地面积:
                    </td>
                    <td>
                        {{infos.zdmj}}
                    </td>
                </tr>
                <tr>
                    <td>
                        使用面积:
                    </td>
                    <td>
                        {{infos.symj}}
                    </td>
                    <td>
                        绿化面积:
                    </td>
                    <td>
                        {{infos.lhmj}}
                    </td>
                </tr>
                <tr>
                    <td>
                        开工日期:
                    </td>
                    <td>
                        {{infos.kgrq}}
                    </td>
                    <td>
                        竣工日期:
                    </td>
                    <td>
                        {{infos.jgrq}}
                    </td>
                </tr>
                <tr>
                    <td>
                        进驻日期:
                    </td>
                    <td>
                        {{infos.jzrq}}
                    </td>
                    <td>
                        联系电话:
                    </td>
                    <td>
                        {{infos.tel}}
                    </td>
                </tr>
                <tr>
                    <td>
                        传真:
                    </td>
                    <td>
                        {{infos.email}}
                    </td>
                    <td>
                        地址:
                    </td>
                    <td>
                        {{infos.dz}}
                    </td>
                </tr>
            </table>
            <!--表具-->
            <div class="bjbox">
                <h3 class="bj_add">
                    表具添加
                </h3>
                <table>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-model="checkFlag">
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            表具编号
                        </th>
                        <th>
                            表具名称
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in biaojus">
                        <td><input type="checkbox" ng-checked="checkFlag"></td>
                        <td>{{x.id}}</td>
                        <td>{{x.bianhao}}</td>
                        <td>{{x.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <p class="editbox"><input type="button" value="修改" class="btn_edit"></p>
            </div>
        </div>
    </div>
    <dir-foot></dir-foot>
</div>