<link rel="stylesheet" href="./css/list.css">
<div ng-controller="list">
    <dir-head></dir-head>
    <dir-menu></dir-menu>
    <div class="box_r">
        <h3 class="list_title">房间信息列表</h3>
        <div class="infobox">
            <table>
                <thead>
                <tr>
                    <th class="col-sm">
                        <input type="checkbox" ng-model="checkFlag" ng-click="chengCheckFlag()">
                    </th>
                    <th class="col-md">
                        序号
                    </th>
                    <th class="col-md">
                        房间号
                    </th>
                    <th class="col-md">
                        房型
                    </th>
                    <th class="col-md">
                        所属楼栋
                    </th>
                    <th class="col-md">
                        单元号
                    </th>
                    <th class="col-md">
                        楼层
                    </th>
                    <th class="col-md">
                        建筑面积
                    </th>
                    <th class="col-md">
                        使用面积
                    </th>
                    <th class="col-md">
                        朝向
                    </th>
                    <th class="col-md">
                        使用状态
                    </th>
                    <th class="col-md">
                        所属区域
                    </th>
                    <th class="col-md">
                        备注
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(y,x) in lists">
                    <td class="col-sm"><input type="checkbox" ng-checked="checkFlag"></td>
                    <td class="col-md">{{y+1}}</td>
                    <td class="col-md">{{ x.id }}</td>
                    <td class="col-md">{{ x.type }}</td>
                    <td class="col-md">{{ x.ssld }}</td>
                    <td class="col-md">{{ x.dyh }}</td>
                    <td class="col-md">{{ x.floor }}</td>
                    <td class="col-md">{{ x.area }}</td>
                    <td class="col-md">{{ x.symj }}</td>
                    <td class="col-md">{{ x.cx }}</td>
                    <td class="col-md">{{ x.syzt }}</td>
                    <td class="col-md">{{ x.ssqy }}</td>
                    <td class="col-md">{{ x.bz }}</td>
                </tr>
                </tbody>
            </table>
            <dir-pagination></dir-pagination>
            <div class="btnbox">
                <em>
                    <input type="button" value="添加" class="btn btn_add">
                    <input type="button" value="编辑" class="btn btn_edit">
                    <input type="button" value="删除" class="btn btn_delete">
                    <input type="button" value="批量增加" class="btn btn_add_more">
                </em>
            </div>
        </div>
    </div>
    <dir-foot></dir-foot>
</div>