<link rel="stylesheet" href="./css/login.css">
<div ng-controller="login" class="box">
    <h3 class="title"> 用户登录 </h3>
    <form id="loginForm">
        <p class="clearfix"> <span class="info_key"> 账户： </span> <input type="text" ng-model="greeting.username" placeholder="用户名"> </p>
        <p class="clearfix passbox"> <span class="info_key"> 密码： </span> <input type="password" ng-model="greeting.pass" placeholder="密码"></p>
        <p class="btnbox clearfix">
            <input type="button" class="btn login_btn" value="登录" ng-click="submit()">
            <input type="reset" class="btn reset_btn" value="重置">
        </p>
    </form>
</div>